.escudo-container {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.escudo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.escudo-svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .escudo-container {
    width: 60px;
    height: 60px;
  }
}









